/* Commun Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  display: grid;
  justify-content: center;
}
.container {
  width: 1164px;
}
/* Header section styles */
header {
  background: #2d25a0;
  padding: 42px 0 0 0;
  display: grid;
  justify-content: center;
}
/* Navbar styles */
.nav-menu {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1164px;
  height: 44px;
}
.menu {
}
.menu ul {
  display: flex;
}
.menu ul li {
  margin-right: 36px;
}
.menu ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
}

.login-button {
  background: #e02c6d;
  padding: 10px 24px;
  border-radius: 5px;
  transition: background 0.7s;
}
.login-button:hover {
  background: #3dbafd;
}

.login-button a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.login-button a span {
  font-size: 17px;
  margin-right: 10px;
}

/* banner section styles */
.banner-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0;
  align-items: center;
}
.banner-description h2 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  width: 485px;
  line-height: 80px;
  margin-bottom: 37px;
}
.watch-button {
  background: #e02c6d;
  padding: 10px 24px;
  width: 168px;
  border-radius: 5px;
  transition: 0.7s;
  cursor: pointer;
}
.watch-button:hover {
  background: #3dbafd;
  transform: scale(1.2) skew(-15deg);
}
.watch-button:hover.watch-button a {
  font-size: 18px;
}
.watch-button a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  display: block;
}

.watch-button a span {
  font-size: 17px;
  margin-left: 12px;
}

.banner-image img {
  width: 556px;
  height: 438px;
  transition: transform 0.7s;
}
.banner-section:hover .banner-image img {
  transform: rotate(10deg);
}

/* Players section style  */
.players {
  padding: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
}
.player {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-cover img {
  width: 340px;
  height: 256px;
}
.player-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-description {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}

/* Highlights section style  */
.highlights-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 66px;
}
.highlight-info h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 8px;
  margin-top: 50px;
}
.highlight-info p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.highlight-image img {
  width: 567px;
  height: 427px;
}
